proxmox_api_url = "https://10.0.10.11:8006/api2/json"
proxmox_user    = "root@pam"
proxmox_node    = "pve-node2"
ubuntu_template = "ubuntu-2404-template"
trust_vlan_tag  = 20
trust_bridge    = "vmbr0"
authentik_vmid  = 200
authentik_ip    = "10.0.20.10/24"
authentik_gw    = "10.0.20.1"
authentik_cores  = 2
authentik_memory = 4096
openbao_vmid    = 201
openbao_ip      = "10.0.20.11/24"
openbao_gw      = "10.0.20.1"
openbao_cores   = 2
openbao_memory  = 2048
ssh_public_key  = "ssh-ed25519 AAAA... your_key_here"
cloud_init_user = "ubuntu"
