proxmox_api_url = "https://<PROXMOX_API_IP>:8006/api2/json"
proxmox_user    = "root@pam"
proxmox_node    = "pve-node2"
ubuntu_template = "ubuntu-2404-template"
trust_vlan_tag  = 20
trust_bridge    = "vmbr0"
authentik_vmid  = 200
authentik_ip    = "<AUTHENTIK_IP>/24"
authentik_gw    = "<TRUST_VLAN_GW>"
authentik_cores  = 2
authentik_memory = 4096
openbao_vmid    = 201
openbao_ip      = "<OPENBAO_IP>/24"
openbao_gw      = "<TRUST_VLAN_GW>"
openbao_cores   = 2
openbao_memory  = 2048
ssh_public_key  = "ssh-ed25519 AAAA... your_key_here"
cloud_init_user = "ubuntu"
