AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
PG_PASS={{ authentik_postgres_password }}
PG_USER={{ authentik_postgres_user }}
PG_DB={{ authentik_postgres_db }}
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_EMAIL__HOST={{ authentik_email_host }}
